body {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas#canvasBoard {
  border-left: 10px solid blue;
  border-right: 10px solid blue;
  border-bottom: 10px solid red;
  background: #25F54A;
  /*margin-top: 30px;
  margin-left: 30px;*/
  box-sizing: border-box;
  order: 1;
}

canvas#canvasPower {
  background: blue;
  /*margin-top: 30px;
  margin-left: 30px;*/
  /*top: 0;*/
  order: 1;
}

canvas#canvasAim {
  background: blue;
  /*margin-top: 30px;
  margin-left: 30px;*/
  margin-bottom: 40px;
  border-radius: 75px;
  bottom: 0;
  order: 0
}

div.shooting-info {
  width: 200px;
  order: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
