html {
  margin: 0;
}

body {
  margin: 0;
}

#demo-gif-image {
width: 400px;
padding: 30px
}

div#main-canvas {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: flex-start;
  background: #F2F2F2;
}

aside {
  background: #814374;
  /*padding-top: 40px;*/
  color: white;
  height: 100%;
  /*min-width: 15%;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 40px;
  z-index: 1000;
}

h1 {
  border-bottom: 10px solid #F2F2F2;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: #F2F2F2;
  text-align: left;
  padding: 10%;
  font-size: 30px;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: #F2F2F2;
  text-align: left;
  padding: 10%;
  font-size: 1.75em;
  margin-top: 1%;
  margin-bottom: 1%;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

div#instructions-comp {
  width: 50%;
}

p {
  font-size: 18px;
  margin: 15px;
  font-family: 'Quicksand', sans-serif;
}

div#game-stats {
  width: 10%;
}

#feedback-banner {
  width: 30%;
  margin-left: 45%;
  font-family: 'Quicksand', sans-serif;
  border-radius: 15px;
  margin-top: 20px;
}

#feedback-banner > h1 {
  text-align: center;
  border: none;
  font-size: 50px;
}

.green {
  background: #51A39D;
  color: #F2F2F2
}

.red {
  background: #B7695C;
  color: #F2F2F2
}

h3.instructions {
  padding: 1% 3%;
}

p.instructions {
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  padding: 1% 3% ;
}

h3.right {
  text-align: right;
  margin: 0;
  padding: 2% 10% 0 0;
}

h3.right:hover {
  cursor: pointer;
  color: #51A39D;
}

h1.slidebar {
  margin-top: 0;
  padding-top: 10%;
  padding-left: 3%;
  text-align: left;
}

div.instructions-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 10px solid #F2F2f2
}

h1.instructions {
  padding: 3%;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  border: none;
}

*.items:hover {
  cursor: pointer
}

h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: #F2F2F2;
  text-align: left;
  padding: 2% 10%;
  margin: .5%;
  font-size: 1.5em;
}


ul {
  list-style: none;
  padding-top: 25%;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-align: right;
}

li {
  padding: 15% 10% 5% 10%;
  border-bottom: 5px solid transparent;
}

li:hover {
  border-color: #51A39D;
  color: #51A39D;
  cursor: pointer;
}

#close-instructions:hover {
  cursor: pointer;
  color: #51A39D
}

.clicked {
  border-color: #51A39D;
  color: #51A39D;
}

div.canvas-items {
  height: 100%;
  width: 74.9%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
  margin-left: 5%;
}

.hidden {
  display: none;
}

canvas#canvasBoard {
  border-left: 25px solid #B7695C;
  border-right: 25px solid #B7695C;
  border-bottom: 25px solid #B7695C;
  background: #CDBB79;
  /*margin-top: 30px;
  margin-left: 30px;*/
  box-sizing: border-box;
  order: 1;
}

canvas#canvasPower {
  background: #51A39D;
  /*margin-top: 30px;
  margin-left: 30px;*/
  /*top: 0;*/
  order: 1;
}

canvas#canvasAim {
  background: #51A39D;
  /*margin-top: 30px;
  margin-left: 30px;*/
  margin-bottom: 40px;
  border-radius: 75px;
  bottom: 0;
  order: 0
}

#score-stats {
  order: 2;
  margin-left: 10px;
  margin-right: 25px;
}

#score-stats > h3 {
  color: #51A39D;
}

div.shooting-info {
  width: 200px;
  order: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-right: 10px;
}
